@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.background {
   /* -fx-background-color: linear-gradient(from top left, #779ecb, #80A9D9, #536E8C, #779ECB); linear-gradient(to bottom, #80A9D9,  rgba(35, 46, 58, 0.1));*/

    /*-fx-background-color:  #82acdc, linear-gradient(to top, rgba(35, 46, 58, 0.7), #80A9D9), linear-gradient(to top, rgba(110, 146, 189, 0.01), #779ecb);*/
    -fx-background-color: #82acdc, radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 110%, rgba(108, 153, 204, 1) 40%, rgba(42,59,79,1) 110%);
}

#btnScissor {
    -fx-background-color: transparent;
    -fx-background-image: url('/rps/resources/img/scissor_base.png');
    -fx-content-display: center;
    -fx-background-size: 85;
    -fx-background-repeat: no-repeat;
    -fx-background-position: -2;
}

#btnScissor:hover {
    -fx-background-color: transparent;
    -fx-background-image: url('/rps/resources/img/scissor_white.png');
    -fx-content-display: center;
    -fx-background-size: 85;
    -fx-background-repeat: no-repeat;
    -fx-background-position: -2;
}

#btnPaper {;
    -fx-background-color: transparent;
    -fx-background-image: url('/rps/resources/img/paper_base.png');
    -fx-content-display: center;
    -fx-background-size: 90;
    -fx-background-repeat: no-repeat;
    -fx-background-position: -1;
}

#btnPaper:hover {
    -fx-background-color: transparent;
    -fx-background-image: url('/rps/resources/img/paper_white.png');
    -fx-content-display: center;
    -fx-background-size: 90;
    -fx-background-repeat: no-repeat;
    -fx-background-position: -1;
}

#btnRock {
    -fx-background-color: transparent;
    -fx-background-image: url('/rps/resources/img/rock_base.png');
    -fx-content-display: center;
    -fx-background-size: 90;
    -fx-background-repeat: no-repeat;
    -fx-background-position: -5;
}

#btnRock:hover {
    -fx-background-color: transparent;
    -fx-background-image: url('/rps/resources/img/rock_white.png');
    -fx-content-display: center;
    -fx-background-size: 90;
    -fx-background-repeat: no-repeat;
    -fx-background-position: -5;
}

#lblRoundNumber {
    -fx-font-family: 'Gloria Hallelujah', cursive;
    -fx-font-size: 20;
    -fx-text-fill: #ffffff;
}


#lblRound {
    -fx-font-family: 'Gloria Hallelujah', cursive;
    -fx-font-size: 20;
    -fx-text-fill: #ffffff;
}

#lblHumanWins {
    -fx-font-family: 'Gloria Hallelujah', cursive;
    -fx-font-size: 60;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}


#lblTies {
    -fx-font-family: 'Gloria Hallelujah', cursive;
    -fx-font-size: 60;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}


#lblBotWins {
    -fx-font-family: 'Gloria Hallelujah', cursive;
    -fx-font-size: 60;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
